$theme-color: #28d;

body{
  font-family: 'Baloo Paaji', cursive;
  background-color: $theme-color;
  overflow-y:hidden;
}
section{
  width: 800px;
//  border-style: solid;
//  color: red;
  margin: 0 auto;
}
.progress {
  width: 800px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

#playArea {
  background-color: #fff;
  width: 800px;
  height: 400px;
  position: relative;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  cursor: none;
}

.mosquito {
  width: 3px;
  height: 3px;
  //background-image: url('./images/omcar.png');
  position: absolute;
  background-color: transparent;
  //background-size: cover;

}

.mosquito-frame {
  width:0;
  height: 0;
  position: absolute;
}
.mosquito-hp {
  background-color: #2f2;
  width: 0;
  height: 2px;
  left: -10px;
  right: 0;
  top: -15px;
  margin: 0 auto;
  position: absolute;
}

.exist{
  background-color: #000;
}

.dead{
  box-shadow: 0px 0px 1px 2px #f00;
}


#hand {
  position: absolute;
  width: 60px;
  height: 60px;
  border-style: solid;
  color: red;
}

#message{
  position: absolute;
  text-align:center;
  color: $theme-color;
  font-size: 3em;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: -1em;
}

#info{
  color: #fff;
  width: 800px;
  font-size: 2em;
  position: relative;
  padding-bottom: 1.2em;
  #info-left {
    position :absolute;
    left: 0;
  }
  #info-right {
    position :absolute;
    right: 0;
    clear: left;
  }
}
