body{
  font-family: 'Baloo Paaji', cursive;
}

.progress {
  width: 800px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

#playArea {
  width: 800px;
  height: 400px;
  position: relative;
  border-color: black;
  border-width: 4px;
  border-style: solid;
}

.mosquito {
  width: 3px;
  height: 3px;
  //background-image: url('./images/omcar.png');
  position: absolute;
  background-color: transparent;
  //background-size: cover;
}


.exist{
  background-color: #000;
}

.dead{
  box-shadow: 0px 0px 1px 2px #f00;
}

#hand {
  position: absolute;
  width: 60px;
  height: 60px;
  border-style: solid;
  color: red;
}

#message{
  position: absolute;
  font-size: 2em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

#info{
  font-size: 1em;
}
